:root{
    /* colors */
    --background-color1: hsl(107, 36%, 95%);
    --background-color2: hsl(0, 95%, 22%);
    --title1: hsl(0, 95%, 22%);
    --title2: hsl(0, 0%, 100%);
    --content: hsl(0, 95%, 22%);
    --background-button: hsl(0, 0%, 100%);
    --content-button: hsl(0, 95%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oooh Baby', cursive;
    color: var(--title1);
}

body{
    /* background-image: url(assets/chocolate_heart_image.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background: hsl(107, 36%, 95%);
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page1, .page2{
    width: 100%;
    height: 100vh;
    background: hsl(107, 36%, 95%);
    transition: 0.8s;
}

.page1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page1 .title{
    width: 100%;
}

.page1 .title h2{
    font-size: 7rem;
}

.page1 .title h2:last-child{
    text-align: end;
}

.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 p{
    padding: 5px;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    color: var(--content);
}

.content1 .arrow-down{
    width: 2rem;
    height: 2rem;
    color: rgba(0, 0, 0, 0.432);
    border-radius: 5px;
}

.page2 .content2{
    background: hsl(0, 0%, 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page2 .content2 h2{
    text-align: center;
    background: #6B0303;
    color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    width: 100%;
    font-size: 22pt;
}

.page2 .content2 .cards{
    width: 95%;
    height: 70%;
    display: flex;
    overflow: auto;
    align-items: center;
}

.page2 .content2 .cards::-webkit-scrollbar{
    width: 0;
}

.page2 .content2 .card{
    background: white;
    min-width: 250px;
    height: 400px;
    border-radius: 5px;
    /* box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.45); */
    background-image: url(assets/ovo-brigadeiro.jpeg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 15px 2px 0;
}

.page2 .content2 .card .description{
    width: 100%;
}

.page2 .content2 .card p{
    padding: 6px;
    text-align: center;
    font-size: 14pt;
    background: var(--background-color1);
    opacity: 80%;
    border-radius: 0px 0 5px 5px;
}

.page2 .button{
    background: #6B0303;
    color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    width: 100%;
    font-size: 28pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 button{
    padding: 0.5rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    font-size: 11pt;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page2 button a{
    text-decoration: none;
}

.page2 button .logo-whatsapp{
    color: green;
    width: 15px;
    height: 15px;
}